.receita__botao {
    background: #8D0606;
    border: none;
    border-radius: 5px;
    color: #FDFDFD;
    padding: 1rem;
    transition: all .2s ease-in-out;
}

.receita__botao:hover {
    cursor: pointer;
    background: #620404;
}