body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

header {
    background: #AA0000;
}

.box-header {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.imagem-header {
    width: 30%;
    display: inline;
}

nav {
    position: absolute;
    right: -50px;
    top: 140px;
}

nav a {
    text-transform: uppercase;
    color: yellow;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #000000;
}

ul li {
    display: inline;
    margin-right: 1em;
}

footer {
    background: #AA0000;
    text-align: center;
    background: url("livros-antigos.jpg");
    height: 150px;
}

.texto-rodape {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    transition: 1s;
    display: contents;
    text-shadow: 1px 1px 1px #000000;
}

.texto-rodape:hover {
    color: yellow;
    text-shadow: 1px 1px 1px #000000;
}